@charset "utf-8";
/* CSS Document */
/* ---------------------------- COMMON CSS ---------------------------- */

/* Font */
@font-face{
	font-family: BeVNProBlack;
	src: url("../font/BeVietnamPro-Black.eot"),
		url("../font/BeVietnamPro-Black.ttf"),
		url("../font/BeVietnamPro-Black.woff"),
		url("../font/BeVietnamPro-Black.woff2");
}

@font-face{
	font-family: BeVNProMedium;
	src: url("../font/BeVietnamPro-Medium.eot"),
		url("../font/BeVietnamPro-Medium.ttf"),
		url("../font/BeVietnamPro-Medium.woff"),
		url("../font/BeVietnamPro-Medium.woff2");
}

@font-face{
	font-family: BeVNProLight;
	src: url("../font/BeVietnamPro-Light.eot"),
		url("../font/BeVietnamPro-Light.ttf"),
		url("../font/BeVietnamPro-Light.woff"),
		url("../font/BeVietnamPro-Light.woff2");
}

h1{
	font-family: BeVNProBlack;
	font-size: 48px;
}

h2{
	font-family: BeVNProBlack;
	font-size: 40px;
}

h3{
	font-family: BeVNProMedium;
	font-size: 32px;
}

h4{
	font-family: BeVNProBlack;
	font-size: 24px;
}

h5{
	font-family: BeVNProMedium;
	font-size: 20px;
}

h6{
	font-family: BeVNProMedium;
	font-size: 16px;
}

p{
	font-family: BeVNProLight;
	font-size: 16px;
}

body{
	font-family: BeVNProLight;
	font-size: 16px;
	color: rgba(77,77,77,1.00);
}

/* ---------- HEADER ---------- */
#bg_header{
	font-family: BeVNProLight;
	font-size: 12px;
	background-color: rgba(77,77,77,1.00);
	padding-top: 10px;
	padding-bottom: 10px;
}

#bg_header .container{
	display: flex;
	justify-content: space-between;
}

#bg_header ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#bg_header ul li{
	display: inline-block;
}

#bg_header ul li a{
	display: block;
	width: 100%;
	height: 20px;
	text-decoration: none;
	color: rgba(217,224,33,1.00);
	border-bottom: solid 1px rgba(217,224,33,0);
	transition: all ease 0.3s;
}

#bg_header ul li a:hover{
	color: rgba(255,255,255,1.00);
	border-bottom: solid 1px rgba(255,255,255,1.00);
	transition: all ease 0.3s;
}

/* Padding sides */
.header_left ul li{
	padding-right: 30px;
}

.header_right ul li{
	padding-left: 30px;
}

/* ---------- NAV ---------- */
#bg_nav{
	overflow: hidden;
	z-index: 9999;
	position: sticky;
	top: 0;
	width: 100%;
	font-family: BeVNProMedium;
	font-size: 14px;
	background-color: rgba(255,255,255,1.00);
}

/* Logo */
#nav_logo{
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Menu */
#nav_menu{
	padding-top: 30px;
	padding-bottom: 30px;
}

#nav_menu .nav-item{
	padding-right: 40px;
}

#nav_menu .nav-link{
	height: 20px;
	transition: all ease 0.3s;
	color: rgba(77,77,77,1.00);
	padding: 0;
}

#nav_menu .nav-link:hover{
	transition: all ease 0.3s;
	color: rgba(174,179,26,1.00);
}

/* Icons */
#nav_icons{
	padding-top: 29px;
	padding-bottom: 29px;
}

#nav_icons ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: right;
}

#nav_icons ul li{
	padding-left: 20px;
	display: inline-block;
}

#nav_icons ul li a{
	display: block;
	width: 100%;
	height: 22px;
	text-decoration: none;
	color: rgba(77,77,77,1.00);
}

/* ---------- PROMO ---------- */
#bg_promo{
	font-family: BeVNProMedium;
	font-size: 14px;
	text-align: center;
	background-color: rgba(217,224,33,1.00);
	color: rgba(77,77,77,1.00);
	padding-top: 19px;
	padding-bottom: 19px;
	margin-bottom: 30px;
}

#bg_promo a{
	text-decoration: none;
	color: rgba(77,77,77,1.00);
	font-family: BeVNProLight;
	border-bottom: solid 1px rgba(77,77,77,0);
	transition: all ease 0.3s;
}

#bg_promo a:hover{
	color: rgba(0,0,0,1.00);
	border-bottom: solid 1px rgba(0,0,0,1.00);
	transition: all ease 0.3s;
}

#bg_promo .col-xl-4{
	border-right: solid 1px rgba(77,77,77,1.00);
}

#bg_promo .col-xl-4:last-child{
	border-right: none;
}

/* ---------- ADDRESS ---------- */
#bg_address{
	margin-bottom: 30px;
	font-family: BeVNProLight;
	font-size: 16px;
	color: rgba(77,77,77,1.00);
}

#bg_address hr{
	width: calc(100% - 30px);
	border: solid 1px rgba(217,224,33,1.00);
}

#bg_address .col-xl-4{
	margin-top: 30px;
}

.address_title{
	font-family: BeVNProMedium;
	font-size: 14px;
}

.address_cont{
	font-size: 14px;
}

.address_viewmap{
	color: rgba(77,77,77,1.00);
	font-family: BeVNProMedium;
	font-size: 14px;
}

#bg_address a{
	text-decoration: none;
	transition: all ease 0.3s;
}

#bg_address a:hover{
	transition: all ease 0.3s;
	color: rgba(174,179,26,1.00);
	border-bottom: solid 1px rgba(174,179,26,1.00)
}

/* ---------- FOOTER ---------- */
#bg_footer{
	font-family: BeVNProLight;
	color: rgba(77,77,77,1.00);
	background-color: rgba(217,224,33,1.00);
	padding: 15px 0 15px;
	font-size: 14px;
}

#bg_footer .footer_logo img{
	height: 60px;
	margin-top: 15px;
}

#bg_footer ul{
	list-style-type: none;
	margin: 15px 0 0;
	padding: 0;
}

#bg_footer .footer_title{
	color: rgba(77,77,77,1.00);
	font-family: BeVNProMedium;
	font-size: 14px;
	margin: 0 0 5px;
}

.social_network_icons ul li{
	font-size: 14px;
}

#bg_footer ul li a{
	font-size: 12px;
	text-decoration: none;
	color: rgba(77,77,77,1.00);
	border-bottom: solid 1px rgba(77,77,77,0);
	transition: all ease 0.3s;
}

#bg_footer ul li a:hover{
	transition: all ease 0.3s;
	color: rgba(0,0,0,1.00);
	border-bottom: solid 1px rgba(0,0,0,1.00);
}

#bg_footer hr{
	border: solid 1 rgba(77,77,77,0.1);
}

#bg_footer .pt-1,
#bg_footer .pt-2{
	height: 100%;
}


/* NEWSLETTER */
.newsletter_cont{
	font-size: 12px;
}

#emailid{
	width: 100%;
	border: none;
	font-family: BeVNProLight;
	font-size: 12px;
	padding: 10px 30px;
}

.reg_footer button{
	font-family: BeVNProLight;
	font-size: 14px;
	text-align: center;
	color: rgba(255,255,255,1.00);
	background-color: rgba(77,77,77,1.00);
	padding: 5px 30px;
	margin-top: 20px;
	transition: all ease 0.3s;
	border: none;
}

.reg_footer button:hover{
	color: rgba(77,77,77,1.00);
	background-color: rgba(255,255,255,1.00);
	transition: all ease 0.3s;
}

/* Copyright */
.copyright_footer p{
	text-align: center;
	font-size: 12px;
}